<%= render 'shared/navbar' %>
<div class="grid-container">
  <div class="sidebar-sm">
    <div class="channels">
      <h5>Channels <%= link_to "+", new_chatroom_path %></h5>
      <% @chatrooms.each do |chatroom| %>
        <div><i class="fab fa-slack-hash"></i><%= link_to chatroom.name, chatroom_path(chatroom) %></div>
      <% end %>
    </div>
    <br>
    <div class="direct">
      <h5>Direct Messages</h5>
      <div class="flex-container">
        <div class="row">
          <div class="person">
            <div class="dot"></div>
            <span><%= link_to current_user.nickname, conversations_path(user_id: current_user), remote: true, method: :post %> (you) </span>
          </div>
        </div>
      </div>
      <% @users.each do |user| %>
        <div class="flex-container">
          <div class="row">
            <div class="person">
              <div class="dot"></div>
              <span><%= link_to user.nickname, conversations_path(user_id: user), remote: true, method: :post  %> </span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="chat">
    <% if @query.present? %>
      <% @messages.empty? ? msg = 'No results for ' : msg = 'Results for '%>
      <div class="message-results">
        <h3><%= msg %> <strong><%= @query %></strong></h3>
          <% @messages.each do |message| %>
            <h5><strong><%= link_to "##{message.chatroom.name}", chatroom_path(message.chatroom) %></strong></h5>
            <%= render 'messages/message', message: message %>
          <% end %>
      </div>
    <% else %>
      <h5 class="chatroom">#<%= @conversation.opposed_user(current_user).nickname %></h5>
      <div class="message" id="private-messages" data-conversation-id="<%= @conversation.id %>">
        <% @conversation.private_messages.each do |message| %>
          <%= render 'private_messages/private_message', private_message: message %>
        <% end %>
        <div class="message-input">
          <%= simple_form_for [ @conversation, @private_message ], remote: true do |f| %>
            <%= f.input :content, label: false, placeholder: "Message ##{@conversation.opposed_user(current_user).nickname}" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
