<div class="grid-container">
  <div class="sidebar-sm">
    <div class="channels">
      <h5>Channels <%= link_to "+", new_chatroom_path %></h5>
      <% @chatrooms.each do |chatroom| %>
        <div><i class="fab fa-slack-hash"></i><%= link_to chatroom.name, chatroom_path(chatroom) %></div>
      <% end %>
    </div>
    <br>
    <div class="direct">
      <h5>Direct Messages</h5>
      <% @users.each do |user| %>
        <div class="flex-container">
          <div class="row">
            <div class="person">
              <div class="dot"></div>
              <span><%= link_to user.nickname %></span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="chat">
    <h3 class="chatroom"><%= @chatroom.name %></h3>
    <div class="message" id="messages" data-chatroom-id="<%= @chatroom.id %>">
      <% @chatroom.messages.each do |message| %>
        <%= render 'messages/message', message: message %>
      <% end %>

    <div class="message-input">
    <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
      <%= f.input :content, label: false, placeholder: "Message ##{@chatroom.name}" %>
    <% end %>
    </div>
  </div>
  </div>

</div>
