<div class="container-home">
  <div class="container-profile">
    <h1><%= current_user.nickname %></h1>
    <h6><%= current_user.email %></h6>
    <%= cl_image_tag current_user.photo.key, height: 120, width: 120, crop: :fill %>
    <div style="margin-top: 64px;">
      <%= link_to "Edit", edit_user_registration_path, class: "link-profile" %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "link-profile" %>
      <%= link_to 'Back', chatroom_path(@chatroom), class: "link-profile"  %>
    </div>
  </div>
</div>
